a[target] {
    background-color: blueviolet;
    color: aliceblue;
}

a[target='_blank'] {
    background-color: yellow;
    color: black;
}

[title~=hello2] {
    border: 4px solid green;
}

[title~=hello3] {
    border-radius: 50%;
}

/* selects elements with the specified attribute starting with the specified value */
[class |=top] {
    background-color: lightcoral;
}


/* [class^="top"] {
    background-color: yellow;
} */